.navListItemActive
{
	text-decoration: underline;
	text-decoration-style: dotted;
	font-weight: bold;
}

.warnMsg
{
	background-color: #f5bfbf96;
	padding: 15px 30px 15px 15px;
	border-left: 8px solid #e77a7a;
}

.noteMsg
{
	background-color: #6fb2e983;
	padding: 15px 30px 15px 15px;
	border-left: 8px solid #549edb;
}

#validationLinkContainer
{
	display: flex;
}

.validationLinkGroup
{
	display: inline-flex;
	flex-grow: 1;
}

.validationLinkGroup p a
{
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
}

.validationLinkGroup p a:hover
{
	text-decoration: underline;
}

.nav-footer
{
	text-align: center;
}

#social_links a img
{
	height: 28px;
	width: 28px;
	padding: 5px;
}

/*
 Hack to fix Voltis logo from being skewed given
 the SVG container isn't a perfect circle.
*/
header > a img.logo,
.nav-footer img.logo {
	width: 34px;
	height: auto !important;
}

.nav-footer img.logo
{
	margin-top: 15px;
}
