.navListItemActive
{
	text-decoration: underline;
	text-decoration-style: dotted;
	font-weight: bold;
}

.warnMsg
{
	background-color: #f5bfbf96;
	padding: 15px 30px 15px 15px;
	border-left: 8px solid #e77a7a;
}

#social_links
{
	text-align: center;
}

#social_links a img
{
	height: 28px;
	width: 28px;
	padding: 5px;
}

#end_logo
{
	text-align: center;
	margin-top: 30px;
}

#end_logo img
{
	height: 34px;
	width: 34px;
}